
<h3 class="mt-2 text-center">ویرایش پست</h3>
<div class="d-flex align-items-center justify-content-center">
    <form action="/dashboard/edit-post/<%= post._id %>" method="POST" class="w-50" enctype="multipart/form-data">
        <%- include("../includes/validationErrors.ejs") %>
        
        <label for="selectThumbnail">انتخاب تصویر بند انگشتی</label>
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="thumbnail" id="selectThumbnail">
                <label id="thumbnailStatus" class="custom-file-label" for="selectThumbnail">
                    تصویر موردنظر را انتخاب کنید
                </label>
            </div>
        </div>
        
        <div class="form-group">
            <label for="title">عنوان پست</label>
            <input
                type="text"
                class="form-control w-50"
                name="title"
                id="title"
                value="<%= post.title %>"
            />
        </div>

        <div class="form-group">
            <label for="status">وضعیت</label>
            <select name="status" class="form-control w-25" id="status">
                <option value="<%= post.status === "public" ? "public" : "private" %>" selected><%= post.status === "public" ? "عمومی"  : "خصوصی"%></option>
                <option value="<%= post.status === "public" ? "private" : "public" %>"><%= post.status === "public" ? "خصوصی"  : "عمومی"%></option>
            </select>
        </div>
        <!--
        <div class="input-group mb-3" id="imageDiv">
            <div class="input-group-prepend">
                <button class="btn btn-sm btn-outline-secondary" type="button" id="uploadImage">
                    بارگزاری تصویر
                </button>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="selectImage">
                <label id="imageStatus" class="custom-file-label" for="selectImage">
                    تصویر موردنظر را انتخاب کنید
                </label>
            </div>
        </div>

        <div class="w-100 bg-light text-center">
            <p id="imageURL" class="overflow-auto">آدرس تصویر آپلود شده : </p>
        </div>

        <input type="button" class="copyBtn" data-clipboard-target="#imageURL" value="Copy to clipboard">
        
        <div id="progressDiv" style="display : none;">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width: 70%;" id="progressBar">
                  <span class="sr-only"></span>
                </div>
            </div> 
        </div>
        -->

        
            <div class="form-group">
            <h5>متن اصلی پست</h5>
            <textarea name="body" class="form-control" id="body"><%= post.body %></textarea>
        </div>
        
        <div class="row">
            <input type="submit" value="ویرایش پست" class="btn btn-success m-2" />
            <a href="/dashboard" class="btn btn-warning m-2">انصراف</a>
        </div>
    </form>
    <script src="//cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script src="/js/ckeditor.js"></script>
</div>

