<!-- Page Content -->
<div class="container mt-5">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col">
            <!-- Title -->
            <h1 class="mt-4"><%= post.title %></h1>

            <!-- Author -->
            <p class="lead">
                نوشته شده توسط :
                <a href="/users/profile/<%= username %>"><%= username %></a>
            </p>

            <hr />

            <!-- Date/Time -->
            <p>تاریخ انتشار : <%= convertToShamsi(post.createdAt) %></p>

            <hr />

            <!-- Preview Image -->
            <div class="text-center">
                <img
                    src="http://localhost:5000/uploads/thumbnails/<%= post.thumbnail %>"
                    class="img-fluid rounded"
                    alt=""
                />
            </div>

            <hr />

            <!-- Post Content -->
            <p class="text-justify"><%- post.body %></p>

            <hr />
            <!-- Comments section -->
            <div class="container mt-5">
                <!-- Your post card goes here -->
                <div class="card mb-3">
                  <!-- Post card content goes here -->
                </div>
              
                <!-- Comment section -->
                <div class="comment-section" style="direction: rtl;">
                <% if(comments.length > 0){ %>
                    <h4 style="text-align: right;">نظرات</h4>
                    <% comments.forEach(comment => { %>
                        <div class="comment">
                            <h5><%= comment.name %></h5>
                            <p><%= comment.comment %></p>
                            <a href="/delete-comment/<%= comment._id %>" class="btn btn-danger">X</a>
                            <hr>
                        </div> 
                    <% }) %>
                <% } %>  
                  <!-- Form for submitting comments -->
                  <form id="comment-form" action="/submit-comment/<%= post.id %>" method="POST">
                    <div class="form-group">
                      <label for="user-name" style="text-align: right;">نام:</label>
                      <input type="text" class="form-control" name="name" id="user-name" required>
                    </div>
                    <div class="form-group">
                      <label for="comment-content" style="text-align: right;">نظر:</label>
                      <textarea class="form-control" name="comment" id="comment-content" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">ثبت نظر</button>
                  </form>
                </div>
              </div>
              
            </div>
        </div>
    </div>
</div>